<div class="container-fluid">
	
	<div class="col-md-12">
		
		<div class="jumbotron">
	
			<h1>All the News</h1>

		</div>

	</div>

</div>

<div class="container">
	
	<div class="row">
		
		<div class="col-md-12">
			
			<ol>
				
				{{#each articles}}

					<li>
						
						<div class="card">
							
							<div class="card-body">
								
								<h3 class="card-title">
									{{this.title}}
								</h3>

								<p class="card-text">
									{{this.summary}}
								</p>

								<a href="{{this.link}}" target="blank" class="card-link">{{this.link}}</a>
								
								<br>

								<button type="button" id="submitComment" class="btn btn-primary" data-toggle="modal" data-target="newComment">
									Submit Comment
								</button>

								<button type="button" id="viewComments" class="btn btn-primary" data-toggle="modal" data-target="comments">
									View Comments
								</button>

							</div>

						</div>

					</li>

				{{/each}}

			</ol>
		
		</div>

	</div>

</div>